body {
    background-color: #9242f4;
}

img.main {
    max-height: 60vh;
}

.link-img {
    transition: transform 0.2s ease-in-out;
}

.link-img:hover {
    transform: translate(0px, -20px);
}

#paper-plane {
    max-height: 15vh;
    display: block;
    margin: auto;
}